@use '../helpers' as *;

.header {

  &__inner {
    padding-block: rem(18);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    &:focus-visible {
      outline: rem(1) solid var(--green-focus);
      outline-offset: rem(1);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(64);

    @include mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      flex-direction: column;
      row-gap: rem(32);
      transform: translateX(100%);
      background-color: var(--background-shade);
      transition: transform 0.3s ease;

      &.is-active {
        transform: translateX(0);
      }
    }
  }

  &__link {
    @include hover {
      color: var(--primary-green);
    }

    &:focus-visible {
      outline: rem(1) solid var(--green-focus);
      outline-offset: rem(1);
    }
  }

  &__action {
    display: flex;
    align-items: center;
    column-gap: fluid(64, 32);

    &-search {
      @include square(24px);
      @include button-reset;

      color: var(--primary-green);

      @include hover {
        color: var(--green-hover);
      }
    }

    &-login {
      @include square(24px);
      @include button-reset;

      color: var(--primary-green);

      @include hover {
        color: var(--green-hover);
      }
    }
  }
}