@use 'helpers' as *;


:root {
  --white: #fff;
  --grey: #899d9d;
  --background: #1d2f30;
  --background-shade: #0b1919;
  --green-text: #506829;
  --primary-green: #bae249;
  --green-activeclick: #688b05;
  --green-focus: #83a440;
  --green-hover: #91ac46;
  --red: #e24949;

  --container-width: #{rem(1110)};
  --container-padding-x: #{rem(32)};

  --font-family: "Open Sans", sans-serif;
  --second-family: "Cormorant", sans-serif;
}